{% extends "base.html" %}

{% block content %}

<div style="background-color: #d4d4d4; width: 400px; height: 500;">
    <h5 style="display:inline-block; margin-left: 50px;">Цвет стен</h5>
    <h5 style="display:inline-block; margin-left: 200px;">Эмблема</h5>


    {% if sex == 'female' %}
    <div style="background-color: #ff0{{100 - age }}0; max-height: 253px;">
        {% if age < 21 %}
        <img src="/static/kid.png" alt="Тут должна была быть ваша фотография"
             style="margin-left: 233px; height: 253px; width: 167px;">
        {% else %}
        <img src="/static/adult_female.jpg" alt="Тут должна была быть ваша фотография"
             style="margin-left: 233px; height: 253px; width: 167px;">
        {% endif %}
    </div>
    {% elif sex == 'male' %}
    <div style="background-color: #00{{100 - age}}ff; max-height: 253px;">
        {% if age < 21 %}
        <img src="/static/kid.png" alt="Тут должна была быть ваша фотография"
             style="margin-left: 233px; height: 253px; width: 167px;">
        {% else %}
        <img src="/static/adult_male.jpg" alt="Тут должна была быть ваша фотография"
             style="margin-left: 233px; height: 253px; width: 167px;">
        {% endif %}
    </div>
    {% endif %}


</div>

{% endblock %}